#footer {
	position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  background-color: #663300;
  padding-top: 3px;
}

#footer #memex-carousel {
	display: table-row;
	height: 30px;
}

#footer .carousel-inner {
	overflow: visible;
	display: table-cell;
	
}

#footer .memex-controls,
#footer .memex-actions {
	display: table-cell;
}

#footer .memex-controls,
#footer .memex-actions {
	min-width: 70px;	
	vertical-align: top;
	padding-top: 2px;
}

#footer .memex-actions {
	padding-left: 20px;
}


#footer .memex-controls a {
	float: left;
}

#footer .carousel-inner .thumbnails > li {
	margin-left: 10px;
}