#footer {
	position: fixed;
  left: 0;
  bottom: 0;
  height: 27px;
  width: 100%;
  background-color: #663300;
}

#footer #memex-carousel {
	display: table-row;
	height: 27px;
}

#footer .carousel-inner {
	overflow: visible;
	display: table-cell;
	width: 92%;
}

#footer .memex-controls,
#footer .memex-actions {
	display: table-cell;
}

#footer .memex-controls,
#footer .memex-actions {
	width: 60px;	
	vertical-align: top;
	padding-top: 2px;
}

#footer .memex-controls a {
	float: left;
}

#footer .carousel-inner .thumbnails > li {
	margin-left: 10px;
}